@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@100;400&display=swap");
* {
  margin-left: 0%;
  padding: 0%;
}
body {
  background-color: hsl(30, 38%, 92%);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div {
  height: 40%;
  background-color: white;
  padding: 15px;
}
.me {
  font-size: 30px;
  font-family: serif("");
}
.lol {
  height: 40%;
  background-color: white;
}
.money {
  color: grey;
  font-family: serif("montserrat");
}
button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-size: 20px;
  margin: 60px;
  border: hidden;
  border-radius: 5px;
}
.Gib {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
  border-top: 2px;
  border-radius: 5px;
}
del {
  margin-right: 30px;
}