@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
* {
  margin-left: 0%;
  padding: 0%;
}
.m_desktop {
  display: none;
}
body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: hidden;
  border-radius: 7px;
  height: 80vh;
  width: 100%;
  max-width: 90%;
  align-items: center;
}
section {
  margin-left: 1.5em;
}
.me {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 40px;
}

h1 {
  font-family: "Fraunces", serif;
}
section div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.money {
  color: grey;
  font-family: serif("montserrat");
}
button {
  background-color: hsl(158, 36%, 37%);
  width: 90%;
  height: 50px;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
}
img {
  display: block;
  border-radius: 5px;
  max-width: 100%;
  width: 100%;
  height: 50vh;
}
del {
  font-size: 0.6em;
  color: grey;
  margin-left: 1em;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}
@media screen and (min-width: 600px) {
  body {
    flex-direction: row;
  }
  main {
    display: flex;
    flex-direction: row;
    width: 50%;
    padding: 0%;
    height: fit-content;
  }
  .m_mobile {
    display: none;
  }
  .m_desktop {
    display: flex;
  }
  b {
    font-size: 3vw;
  }
  img {
    width: 100%;
    border-radius: 10px 0 0 10px;
    height: 25em;
  }
}
